<?xml version="1.0"?>

<model>
  <name>sitl-terrain</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>Altnautica</name>
  </author>

  <description>
    Heightmap terrain tile with an aerial diffuse texture and building
    meshes, used by the SITL Gazebo worlds.
  </description>
</model>
